body{
    background: #E3B505;
}

img{
    width: 300px;
    height: 300px;
}

h2{
    color: white;

}

h4{
    Color: grey;
}

p{
    text-align: center;
    color: purple;
    text-decoration: underline;
}

ul{
    color: brown;
    text-decoration: line-through;
}

ol{
    color: hotpink;
    text-align: right;
}

table{
    color: blueviolet;
}

form{
    color: forestgreen;
}

.BlockOne{
    background-color: teal;
    font-family: 'Just Another Hand', cursive;
}

.Blocks{
    background-color: tomato;
    font-family: 'Roboto', sans-serif;
}

.Blocker{
    background-color: violet;
}

#static{
position:static;
background-color: aqua;
border-top:3px solid black;
font-size: 15px;
font-style: inherit;
color: olive;
padding-bottom:5px;
margin-bottom:15px;
}
#relative{
position:relative;
left: 30px;
background-color: teal;
border-left:3px solid black;
font-size: 20px;
font-style: initial;
color:lemonchiffon;
padding-left:5px;
margin-top:15px;
}
#fixed{
position:fixed;
bottom: 0px;
right: 0px;
background-color: skyblue;
border-right:3px solid black;
font-size:22px;
font-style:italic;
color: goldenrod;
padding-bottom:5px;
margin-right:15px;
}
#absolute{
position:absolute;
top:10px;
right:20px;
width:200px;
height:150px;
background-color: blue;
border-left:3px solid black;
font-size: 24px;
font-style:normal;
color:blanchedalmond;
padding-right:5px;
margin-left:15px;
}
#sticky{
position:sticky;
background-color: turquoise;
border-top: 3px solid white;
border-style: dotted;
font-size: 26px;
font-style:unset;
color: sandybrown;
padding-top:5px;
margin-top:15px;
margin-bottom:15px;
}